= form_for @message do |f|
  -if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  - @message.to_user_id = params[:to_user_id]
  - @message.user_id = current_user.id
  .field
    = f.hidden_field :user_id
    = f.label :to_user_id
    = label_tag User.find(@message.to_user_id).profile.name
    = f.hidden_field :to_user_id
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .actions
    = f.submit 'Save'
