%p#notice= notice
.column.span-10
  %p
    %b From:
    = @message.user.profile.name
  %p
    %b Title:
    = @message.title
  .box
    %b Body:
    = @message.body
.column
  %ul
    - unless @message.user_id == current_user.id
      %li= link_to 'Replay', new_message_path(:to_user_id =>@message.user.id, :title=> 'RE> '+@message.title)
      %li= link_to 'Destroy', @message, :confirm => 'Are you sure?', :method => :delete
    %li= link_to 'Back', messages_path
