%p#notice= notice
.column.span-10
  %p
    %b From:
    = @message.user.profile.name
  %p
    %b Title:
    = @message.title
  .box
    %b Body:
    = @message.body
.column
  %ul
    %li= link_to 'Destroy', @message, :confirm => 'Are you sure?', :method => :delete
    %li= link_to 'Back', messages_path
