%h1 Cart

%table
  %thead
    %th Product
    %th Description
    %th Available
    %th Quantity
    %th Price
    %th Total
    %th Action
  - @products.each do |product|
    %tbody
      %td= link_to image_tag(product.image.url(:thumb)), categoried_product_path(product)
      %td= product.name
      %td
        -if product.available?
          1
        -else
          0
      - quantity = current_cart.item_quantity(product.id)
      %td= quantity
      %td= product.price
      %td= product.price * quantity
      %td= link_to 'Destroy',cart_path(product), :method => :delete