%h1 Cart

%table
  %thead
    %th= t('.product')
    %th= t('.description')
    %th= t('.available')
    %th= t('.quantity')
    %th= t(:price)
    %th= t('.total')
    %th= t('.action')
  - @products.each do |product|
    %tbody
      %td= link_to image_tag(product.image.url(:thumb)), categoried_product_path(product)
      %td= product.name
      %td
        -if product.available?
          yes
        -else
          no
      - quantity = current_cart.item_quantity(product.id)
      %td= quantity
      %td= product.price
      %td= product.price * quantity
      %td= link_to 'Destroy',cart_path(product), :method => :delete
.column.right
  = link_to t('order'), new_order_path, :class => 'button'
