.span-5.last
  .span-5.last.sbar_head_left
    #ffe.right
      =image_tag 'site/title_header_right.png'
    #title
      = t('profile.sidebar.filters')
  .span-5.last
    .sbar_content
      = form_tag profile_orders_path, :method => :get do
        .column{:style=>'text-align:center;'}
          %label= Order.human_attribute_name(:recipient)
        .column.right
          = text_field_tag :search, params[:search], :size => 14
        %hr
        %p{:style=>'text-align:center;'}
          = link_to_function t('profile.sidebar.submit'), "$('form').submit()", :class=> :button
        %p{:style=>'text-align:center;'}
          = link_to t('profile.sidebar.reset') , profile_orders_path, :class=> :button

