= paginate @orders, :theme => :github
%table
  %tr
    %th State
    %th Recipient
    %th Phone
    %th Created At

  - @orders.each do |order|
    %tr
      %td
        .clumn{:style => 'text-align:right;'}
          = label_tag t(order.state.to_sym), nil, :class => "status #{order.state}"
          %br
          - if order.payment_state.eql?('payed')
            = label_tag t(:payed), nil, :class => "status green"
          -else
            = label_tag t(:not_payed), nil, :class => "status red"
      %td= order.recipient
      %td= order.phone
      %td= l(order.created_at, :format => :short)
      %td
        = link_to 'Details',  profile_order_path(order), :class=> :button
        - unless order.state.eql?('completed')
          =link_to 'Complete',  profile_order_path(order), :method =>:put, :class=> :button


= content_for :profile_nav do
  #sidebar_nav
    .wg_title.span-18{:style=> 'margin-bottom:5px;'}
      #wg_left_corner
      #wg_right_corner 
      .title
        Orders
