%p#notice= notice

%p
  %b Genre:
  = @video.genre
%p
  %b Producers:
  = @video.producers
%p
  %b Completion year:
  = @video.completion_year

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
