-#encoding: utf-8
.span-6.last
  .span-6.last.sbar_head
    #title
      = link_to t('.cart'), cart_index_path
  .span-6.last
    .sbar_content
      - total_quantity = 0.0
      - cart_products.each do |product|
        - total_quantity = product.price * current_cart.item_quantity(product.id) + total_quantity
        .row.cart_item{:id=> product.id}
          = current_cart.item_quantity(product.id)
          x
          = link_to truncate(product.name, :length => 20),categoried_product_path(product), :title => product.name
          %span{:style=>'float:right;'}
            = product.price
            = link_to image_tag('site/webicons/x-red.gif'), '#'
      .row{:style=>'border-top: 1px solid #DDDDDD;text-align:right;'}
        = t('.total')
        = total_quantity
:css
  .cart_item{
    padding:5px;
  }

:javascript
  $('.sbar_content span a ').click(
    function(){
    var product_id = $('div.sbar_content div[id]').attr('id');
   $(this).parents('.cart_item').hide('slow', function(){
      $(this).remove();
   });
   $.post("#{cart_index_url}/" + product_id, {_method:'delete'},null,'script');
    });

