#header.container.prepend-top
  .span-24
    #user_header
      .span-10
        = t('shared.header.welcome')
        (
        - if current_user
          = link_to t('.sign_out'), destroy_user_session_path, :method => :delete
        -else
          = link_to t('.sign_in'), new_user_session_path
        )
        %span{:style =>'float:right;'}
          - if user_signed_in?
            =link_to t('.profile_link'), profile_index_path
      #user_cart.span-7
        = image_tag 'icons/header_cart.png'
        = link_to t('.cart'), cart_index_path
        = t('shared.header.product', :count=> current_cart.items.count )
      #language.span-4.right
        %ul
          %li
            -#- I18n.available_locales.each do |locale|
            - [:en,:ua].each do |locale|
              - if I18n.locale.eql?(locale)
                -active_locale = :active
              = link_to image_tag("flags/#{locale}.png"), locales_change_locale_path(:locale => locale), :class => active_locale, :title => t(locale)
    #nav.span-24
      #logo.span-12
        %h1.title
          = link_to image_tag('logo.png'), root_path
      = render :partial => 'shared/menu'
      #search-bar.span-10
        = form_tag '/search'
        = text_field_tag :search
        = submit_tag 'Search'
