%h1=t('.order')
.column.span-10.border
  =form_for @order do |f|
    - profile = current_user.profile
    -if @order.errors.any?
      #error_explanation
        %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
        %ul
          - @product.errors.full_messages.each do |msg|
            %li= msg

    .row
      =f.label :recipient
    =f.text_field :recipient, :value => try(:profile).try(:full_name)
    .row
      =f.label :phone
    = f.phone_field :phone, :value =>  try(:profile).try(:phone)
    .row
      =f.label :email
    =f.text_field :email, :value => current_user.email
    .row
      =f.label :comment
    = f.text_area :comment, :rows =>"3"
    .row
      = f.submit
.column.span-8.last
  - @products.each do |product|
    .row
      %hr
      .column.span-2
        = link_to image_tag(product.image.url(:thumb)), categoried_product_path(product)
      .column.spna-4
        = product.name
      - quantity = current_cart.item_quantity(product.id)
      .column.span-2.right
        %label
          = t('cart.index.quantity')
        = quantity
        %label
          =t(:price)
        = product.price
        = link_to t(:destroy),cart_path(product), :method => :delete
