-#  The container tag
-#  available local variables
-#    current_page:  a page object for the currently displayed page
-#    num_pages:     total number of pages
-#    per_page:      number of items to fetch per page
-#    remote:        data-remote
-#    paginator:     the paginator that renders the pagination tags inside
= paginator.render do
  %nav
    .pagination
      .total_pages{:style=>'background: none repeat scroll 0 0 #EEEEEE;border: 1px solid;color: green;      font-weight: bold; text-align: center;'}
        Total pages
        .t{:style=>'font-size: 1.5em;'}
          = num_pages
      = first_page_tag unless current_page.first?
      = prev_page_tag unless current_page.first?
      -#- each_page do |page|
        - if page.left_outer? || page.right_outer? || page.inside_window?
          = page_tag page
        - elsif !page.was_truncated?
          = gap_tag
      = next_page_tag unless current_page.last?
      = last_page_tag unless current_page.last?
    .curren_page{:style=>'background: none repeat scroll 0 0 #EEEEEE;border: 1px solid;color: green;      font-weight: bold; text-align: center;font-size:small;'}
      Current page  
      .t{:style=>'font-size:3em'}
        = current_page
