.span-5.last
  .span-5.last.sbar_head_left
    #ffe.right
      =image_tag 'site/title_header_right.png'
    #title
      = t('.nav_title')
  .span-5.last
    .sbar_content
      #vertmenu
        %ul
          %li= link_to t(".my_profile"), info_profile_index_path
          %li= link_to t('.my_orders'), orders_path
          - if current_user.profile
            %li= link_to t('.edit_profile'), edit_profile_path(current_user.profile)
          - else
            %li= link_to t('.edit_profile'), new_profile_path

  - if current_user.saler? 
    .span-5.last.sbar_head_left
      #wg_right_corner
      #title
        = t('.sales')
    .span-5.last
      .sbar_content
        #vertmenu
          %ul
            %li= link_to t('.my_products'), profile_products_path
            %li= link_to t('.users_orders'), profile_orders_path


