%h1 Profile
- if @profile = current_user.profile
  .span-18
    .span-7.prepend-5
      .row
        %label
          =t('.your_name')
        = @profile.person
      .row
        %label
          =t('.your_email')
        = current_user.email
      .row
        %label
          =t('.your_phone')
        = @profile.phone
      .row
      -if @profile.shipping_address.present?
        %label
          Shipping Address:
        = @profile.shipping_address.full_address
  = link_to t('.edit_profile'), edit_profile_path(@profile)
- else
  .row
    %h5
      No information
  = link_to t('.edit_profile'), new_profile_path