- if @profile = current_user.profile
  .column
    %h2
      = @profile.name
      (
      =  link_to current_user.email, info_profile_index_path
      )
  - unless current_user.saler?    
    .column.right
      =link_to 'Became a Saler', make_as_saler_profile_index_path, :class => :button
  %hr
  .span-7
    .row
      %label
        =t('.your_name')
      = @profile.person
    .row
      %label
        =t('.your_email')
      = current_user.email
    .row
      %label
        =t('.your_phone')
      = @profile.phone
    .row
    -if @profile.shipping_address.present?
      %label
        =t('.shipping_address')
      = @profile.shipping_address.full_address
- else
  .row
    %h5
      No information
  = link_to t('.edit_profile'), new_profile_path
%hr
.column{:style=>'margin-bottom:25px;'}
  .column.span-6.shadow{:style=>'margin-left:25px;'}
    .title_line
      = t('.my_orders')
    %div{:style=>'padding:5px'}
      %table
        %thead
          %th= t('.created_at')
          %th= t('.state')
        - current_user.orders.limit(3).order('created_at DESC').each do |order|  
          %tbody
            %td= l(order.created_at, :format => :short)
            %td= t(order.state.to_sym)
- if current_user.saler?             
  .column{:style=>'margin-bottom:25px;'}
    .column.span-6.shadow{:style=>'margin-left:25px;'}
      .title_line
        = t('.sales')
      %div{:style=>'padding:5px'}
        %table
          %tr
            %td= t('.price_ratio')
            %td
              = Setting.preferences[:price_ratio].to_f * 100
              = '%'
            
          %tr
            %td= t('.balance')
            %td= current_user.money
          %tr
            %td= t('.total_products')
            %td= link_to current_user.products.count, profile_products_path
          %tr
            %td= t('.sold_products_count')
            - item = 0
            - order_items ||= OrderItem.joins(:order).where("orders.payment_state = 'payed' and order_items.product_id in (?)", current_user.product_ids)
            - order_items.each do |o_it| 
              - item += o_it.quantity
            %td= item
