!!!
%html
  %head
    %title Interfreedom
    = stylesheet_link_tag    "application"
    = javascript_include_tag :defaults, "application"
    <!--[if IE]>
    = stylesheet_link_tag "ie"
    <![endif]-->
    = csrf_meta_tags
  %body
    #main.container
      = render :partial => 'shared/header'
      #content.container
        .column.span-18.last.border
          = yield
        .column.span-5
          siderbar
      #footer.container
        %hr
        %p{:style =>'color:#6B6B6B;'}
          &copy;2011 Powered by Eugene Smentyna

:javascript
  $(document).ready(function() {
    $("#languages").change(function() {
      var lan = $("#languages option:selected").attr('value');
      $.submit("#{locales_change_locale_path}",'language' + lan);
    })
  });