- # encoding: utf-8
%html
  %head
    %title interfreedom
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    <!--[if ie]>
    = stylesheet_link_tag "ie"
    <![endif]-->
    = csrf_meta_tags
  %body
    - flash.each do |key, value|
      #flash_area
        #flash{:style=> 'display:none'}
          = content_tag(:div,value,:class => key)
        #flash_button{:style => 'height:10px; background: none repeat scroll 0% 0% pink; display:none;'}
    #main.container
      = render :partial => 'shared/header'
      #content.container
        .column.span-18.prepend-top
          = yield
        .column.span-5.last
          = yield :sidebar
          -#  unless controller.eql?('sessions')
          = render :partial => 'shared/cart_widget' 
      #footer.container
        %hr
        %p{:style =>'color:#6b6b6b;'}
          &copy;2011 powered by Eugene Smentyna

:javascript
  $(document).ready(function() {
    $("#languages").change(function() {
      var lan = $("#languages option:selected").attr('value');
      $.submit("#{locales_change_locale_path}",'language' + lan);
    })
  });


