!!!
%html
  %head
    %title Interfreedom
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    <!--[if IE]>
    = stylesheet_link_tag "ie"
    <![endif]-->
    = csrf_meta_tags
  %body
    #main.container
      = render :partial => 'shared/header'
      #content.container
        .column.span-7
          siderbar
        .column.span-17.last
          = yield
      #footer.container
        %hr
        %p{:style =>'color:#6B6B6B;'}
          &copy;2011 Powered by Jack Smentyna
